<li
    [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <em class="text-muted pull-right">{{post.created_at | date:'M/d/y, h:mm a'}}</em>
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <button (click)="onLoveIt()" type="button" class="btn btn-success">Love it!</button>
  <button (click)="onHateIt()" type="button" class="btn btn-danger">Don't love it!</button>
  <button (click)="onDelete()" type="button" class="btn btn-danger pull-right">Delete</button>
</li>